@import url('https://fonts.googleapis.com/css?family=Lato');

body{
background-color: #f2f2f2;
margin: 0;
font-family: 'Lato', sans-serif;
}

* {
  outline: 1px solid lime;
}

.header {
  background-color: #2d2f3b;
  height: 90px;
  color: white;
  border-bottom: 6px solid #4b4e61
}

.nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  float: left;
  margin-top: 35px;
  font-size: 1.4rem;
}

.salmon{
  color:#f16c65;
}

.links {
  float: right;
  margin-top: 40px;
  font-size: 0.75rem;
  color: #4b4e61;
}

.links a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.banner {
  background-color: #f16c65;
  padding: 20px 0;
  text-align: center;
}

.banner img {
  max-width: 770px;
  width: 90%;
}

.services {
  padding-left: 40px;
  max-width: 960px;
  padding: 65px 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.9rem;
  font-weight: bold;
  color: #666D89

}

.services p {
  color: #767e9e;
  font-size: 1.1rem;
  font-weight: lighter;
  text-decoration: none;
}

.servicesicons {
  float: left;
  max-width: 320px
}

.servicetitle{
  ;
}



.servicebox a a{
  font-size: .6rem;
}

/*media*/

@media screen and (max-width: 550px ) {

  .logo {
    float: none;
    margin-top: 0;
    text-align: center;
    padding: 15px;
  }

  .links {
    float: none;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

  }

}
